<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Image Generator</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="main">
        <% if (locals.image) { %>
            <h1>Here is the your QR-Image!!</h1>
            <img src="<%= image %>" alt="QR Code">
            <div class="button-container">
                <a href="<%= url %>" target="_blank"><button class="styled-button">Preview Website</button></a>
                <a href="<%= image %>" download="qrcode.png"><button class="styled-button">Download QR Image</button></a>
            </div>
            <% } else { %>
                <h1>Welcome to QR Image Generator Website</h1>
                <form action="/URL" method="post">
                    <input type="url" name="url" placeholder="Enter URL here" required>
                    <input type="submit" value="Generate">
                </form>
                <% } %>
    </div>
</body>

</html>